# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# your code here
orders = pd.read_excel("../../orders.xlsx")
orders.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,Mar,Apr,May,June,July,August,September,Oct,Nov,Dec
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,0.319342,0.664082,0.491991,0.279603,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,0.171464,0.244247,0.025352,0.119380,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,0.150853,0.888946,0.860743,0.648089,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,0.207590,0.659243,0.656168,0.346124,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,0.518316,0.396888,0.709176,0.137325,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [1]:
# Sub Problem 1: Check W3.04_L3.07
# Sub Problem 2: Check google collab W1-03 morning session
# Sub Problem 3: Check Lab W3.04

#### Sub Problem 1: How to aggregate the amount_spent for unique customers?

In [6]:
# Aggregating the 'amount_spent' for unique customers

print(orders.columns)

Index(['Order ID', 'Ship Date', 'Ship Mode', 'City', 'State', 'Country',
       'Region', 'Product ID', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June',
       'July', 'August', 'September', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [8]:
# Creating a new df with the features to get the 'amount_spent'
amount_spent = orders[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June',
       'July', 'August', 'September', 'Oct', 'Nov', 'Dec']]

# Creating a new column named 'amount_spent' which is the sum of the
# 'amount_spent' df.

orders['amount_spent'] = amount_spent.sum(axis=1)
orders

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,Apr,May,June,July,August,September,Oct,Nov,Dec,amount_spent
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.664082,0.491991,0.279603,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.244247,0.025352,0.119380,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,...,0.888946,0.860743,0.648089,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114,7.117130
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,...,0.659243,0.656168,0.346124,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744,7.508037
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,...,0.396888,0.709176,0.137325,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120,5.326502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,IT-2018-5975833,2018-07-23,Standard Class,Essen,North Rhine-Westphalia,Germany,Central,OFF-AP-10000717,0.819154,0.553914,...,0.134236,0.670699,0.842767,0.361586,0.575582,0.488450,0.544693,0.747544,0.787444,7.155306
9990,IT-2018-5984498,2018-10-06,Standard Class,Amsterdam,North Holland,Netherlands,Central,FUR-BO-10002680,0.687606,0.497367,...,0.818652,0.658949,0.777059,0.392183,0.562190,0.820620,0.038028,0.505030,0.624923,7.307202
9991,IT-2018-5989338,2018-04-18,Standard Class,Pamiers,Languedoc-Roussillon-Midi-Pyrénées,France,Central,OFF-ST-10003785,0.844459,0.565612,...,0.512931,0.547257,0.246410,0.689964,0.224034,0.837423,0.664930,0.405134,0.619906,7.056091
9992,IT-2018-5992832,2018-08-17,Second Class,Bottrop,North Rhine-Westphalia,Germany,Central,OFF-LA-10000707,0.078376,0.605297,...,0.174231,0.694810,0.799297,0.257516,0.418385,0.073775,0.861150,0.239459,0.802197,5.047520
9993,IT-2018-5992832,2018-08-17,Second Class,Bottrop,North Rhine-Westphalia,Germany,Central,OFF-ST-10003785,0.880051,0.492267,...,0.328624,0.780276,0.322788,0.679005,0.479424,0.208799,0.146535,0.518437,0.972079,6.568922

#### Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

- VIP Customers whose aggregated expenses are above the 95th percentile (aka. 0.95 quantile). 
- Preferred Customers aggregated expenses are between the 75th and 95th percentile.


#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [27]:
# Calculating which is the 95th percentile and 75th percentile in amount_spent
# Creating new columns with 95th and 75th for later calculations

orders['Expenses95'] = np.percentile(orders.amount_spent, 95)
orders['Expenses75'] = np.percentile(orders.amount_spent, 75)
orders

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,June,July,August,September,Oct,Nov,Dec,amount_spent,Expenses95,Expenses75
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.279603,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,7.652715,6.699833
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.119380,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,7.652715,6.699833
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,...,0.648089,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114,7.117130,7.652715,6.699833
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,...,0.346124,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744,7.508037,7.652715,6.699833
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,...,0.137325,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120,5.326502,7.652715,6.699833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,IT-2018-5975833,2018-07-23,Standard Class,Essen,North Rhine-Westphalia,Germany,Central,OFF-AP-10000717,0.819154,0.553914,...,0.842767,0.361586,0.575582,0.488450,0.544693,0.747544,0.787444,7.155306,7.652715,6.699833
9990,IT-2018-5984498,2018-10-06,Standard Class,Amsterdam,North Holland,Netherlands,Central,FUR-BO-10002680,0.687606,0.497367,...,0.777059,0.392183,0.562190,0.820620,0.038028,0.505030,0.624923,7.307202,7.652715,6.699833
9991,IT-2018-5989338,2018-04-18,Standard Class,Pamiers,Languedoc-Roussillon-Midi-Pyrénées,France,Central,OFF-ST-10003785,0.844459,0.565612,...,0.246410,0.689964,0.224034,0.837423,0.664930,0.405134,0.619906,7.056091,7.652715,6.699833
9992,IT-2018-5992832,2018-08-17,Second Class,Bottrop,North Rhine-Westphalia,Germany,Central,OFF-LA-10000707,0.078376,0.605297,...,0.799297,0.257516,0.418385,0.073775,0.861150,0.239459,0.802197,5.047520,7.652715,6.699833
9993,IT-2018-5992832,2018-08-17,Second Class,Bottrop,North Rhine-Westphalia,Germany,Central,OFF-ST-10003785,0.880051,0.492267,...,0.322788,0.679005,0.479424,0.208799,0.146535,0.518437,0.972079,6.568922,7.652715,6.699833

In [65]:
# Creating a new column w/ VIP_customers values (95th percentile) to later define if the client is a VIP or not.
orders['VIP_customer'] = orders['amount_spent']-orders['Expenses95']
orders.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,July,August,September,Oct,Nov,Dec,amount_spent,Expenses95,Expenses75,VIP_customer
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,7.652715,6.699833,-1.160073
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,7.652715,6.699833,-1.231885
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,...,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114,7.117130,7.652715,6.699833,-0.535585
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,...,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744,7.508037,7.652715,6.699833,-0.144677
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,...,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120,5.326502,7.652715,6.699833,-2.326212

In [66]:
# Defining a function to identify VIP_customers
def vipcustomers(x):
    if x >= 0:
        return 1
    else:
        return 0

#Applying the function to our VIP_customers column
orders['VIP_customer'] = list(map(vipcustomers, orders['VIP_customer']))
print(orders['VIP_customer'].value_counts())
orders.head(2)

0    9494
1     500
Name: VIP_customer, dtype: int64

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,July,August,September,Oct,Nov,Dec,amount_spent,Expenses95,Expenses75,VIP_customer
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,7.652715,6.699833,0
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,7.652715,6.699833,0

In [71]:
# For the Preferred Customers (between the 75th-95th percentile), I will directly define a function

# 95th percentile = 7.652715
# 75th percentile = 6.699833

def amountspent(x):
    if (x >= 6.699833) and (x < 7.652715):
        return 1
    else:
        return 0

In [79]:
# Creating 'Preferred customers' column
# Applying the function to the new columns
orders['Preferred_customer'] = list(map(amountspent, orders['amount_spent']))
print(orders['Preferred_customer'].value_counts())
orders.head(2)

0    7995
1    1999
Name: Preferred_customer, dtype: int64

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,August,September,Oct,Nov,Dec,amount_spent,Expenses95,Expenses75,VIP_customer,Preferred_customer
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,7.652715,6.699833,0,0
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,7.652715,6.699833,0,0

In [100]:
orders = orders.drop(['Expenses95','Expenses75'], axis=1)
orders.head(2)

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,July,August,September,Oct,Nov,Dec,amount_spent,VIP_customer,Preferred_customer,Total_above75customers
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,0,0,0
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,0,0,0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [101]:
nvip = orders.groupby(['Country']).agg({'VIP_customer':'sum'})
nvip.head()

         VIP_customer
Country
Austria            16
Belgium             6
Denmark             3
Finland             5
France            148

In [102]:
nvip.sort_values(by=['VIP_customer'], ascending=False).head(1)

         VIP_customer
Country
France            148

In [103]:
# Method 2: pivot table

max = orders.pivot_table(index=['Country'], aggfunc = {'VIP_customer':'sum'})
                                                       
max.head()

         VIP_customer
Country
Austria            16
Belgium             6
Denmark             3
Finland             5
France            148

In [104]:
max.sort_values(by=['VIP_customer'], ascending=False).head(1)

         VIP_customer
Country
France            148

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [105]:
orders['Total_above75customers'] = orders['VIP_customer'] + orders ['Preferred_customer']
orders.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,...,July,August,September,Oct,Nov,Dec,amount_spent,VIP_customer,Preferred_customer,Total_above75customers
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,...,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361,6.492642,0,0,0
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,...,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398,6.420829,0,0,0
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,...,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114,7.117130,0,1,1
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,...,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744,7.508037,0,1,1
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,...,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120,5.326502,0,0,0

In [106]:
grouped_most = orders.groupby(['Country']).agg({'Total_above75customers':'sum'})
grouped_most.head()

         Total_above75customers
Country
Austria                      75
Belgium                      42
Denmark                      14
Finland                      17
France                      716

In [107]:
grouped_most.sort_values(by=['Total_above75customers'], ascending=False).head(1)

         Total_above75customers
Country
France                      716