# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [6]:
# your code here
orders = pd.read_excel("../../orders.xlsx")
orders.head()

,Order ID,Ship Date,Ship Mode,City,State,Country,Region,Product ID,Jan,Feb,Mar,Apr,May,June,July,August,September,Oct,Nov,Dec
0,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,FUR-BO-10001405,0.296785,0.740937,0.319342,0.664082,0.491991,0.279603,0.721468,0.827661,0.266435,0.593755,0.624222,0.666361
1,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-AP-10000977,0.920646,0.968545,0.171464,0.244247,0.025352,0.119380,0.931719,0.742272,0.886169,0.258289,0.523348,0.629398
2,ES-2014-1846006,2016-01-03,First Class,Paris,Ile-de-France,France,Central,OFF-BI-10002083,0.879809,0.363669,0.150853,0.888946,0.860743,0.648089,0.022201,0.637949,0.873964,0.738800,0.869995,0.182114
3,ES-2015-1001989,2015-03-15,First Class,Berlin,Berlin,Germany,Central,OFF-BI-10002570,0.258669,0.915954,0.207590,0.659243,0.656168,0.346124,0.227398,0.934574,0.639858,0.757322,0.921393,0.983744
4,ES-2015-1010958,2015-06-07,Standard Class,Deuil-la-Barre,Ile-de-France,France,Central,OFF-BI-10004924,0.283790,0.224399,0.518316,0.396888,0.709176,0.137325,0.771152,0.605851,0.209154,0.599237,0.209094,0.662120

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [ ]:
# your code here

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here